APP__SERVICENAME=smt-query-service
APP__ENVIRONMENTNAME=Development
APP__DEFAULTMETRICSINTERVALMINUTES=60
ASPNETCORE_URLS=http://0.0.0.0:7036
ASPNETCORE_ENVIRONMENT=Development
Serilog__MinimumLevel__Default=Information